ul {
  list-style-type: none;
}

body {
  background-image: url("https://i.imgur.com/qkNQwLX.png")
}

h1, p {
	color:white;
}

#totalNotes, li {
	color: white;
}

.Logo {
	width: 200px;
	height: 160px;
	text-indent: -9000px;
	background:url(https://i.imgur.com/atjOh8l.png);
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col{
	width: 30%;
}

#icw, #mod, #pri {
	text-align: center;
	text-decoration: underline;
}

.contents {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: row;
	justify-content: center; 
}

#noteBackground {
	background-color: grey;
	height: 150px;
	width: 300px;
	margin-left: 80px;
}

.textsize {
	font-size: 30px;
}

.btnSize {
	height: 50px;
	width: 200px;
	background-color: blue;
	border-radius: 5px;
	border: none;
}

.buttonText {
	fornt-size: 15px;
}
